html,
body {
  font-family: $font-family;
  height: 100%;
}

body > [ui-view] {
  height: 100%;
  position: relative;
}

body {
  -webkit-font-smoothing: antialiased;
  min-width: 1200px;
  overflow-y: hidden;
}

[ui-view=content] {
  overflow-y: auto;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }

  h5 {
    color: $gray-dusty;
    margin-top: 0;
  }

  > .com.example.samplelibrary-view {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.full-height {
  height: 100%;
}

a {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}