#ServerInfoList
#primaryServer
name=developerxxxx.innovate.bmc.com
rpc=0
tcp=0
dbadmin=
dbpassword=
jettyPort=0
protocol=https
overlayOption=
#End primaryServer

#Server2
name.2=localhost
rpc.2=0
tcp.2=0
dbadmin.2=
dbpassword.2=
jettyPort.2=8008
protocol.2=http
overlayOption.2=
#End Server2
#

#userInfo
username=developer
password=developer
auth=
locale=en_US
#

dataDir=src/test/java
importTestData=false
cleanupTestData=false

bundles=com.example.samplelibrary
ignoreProcessCoverage=false

#RSSO Settings
#rssoRealm=Shift4
rssoRealm=
#rssoUrl=https://rsso.cloudsolqa.bmc.com/rsso
rssoUrl=
#

# Browser to run UI tests. May be "ie11", "firefox", "chrome", "safari", "edge"  FF GC
browser=GC

# If user wants to use drivers of his own choice, he can download and Copy them under folder called, 'drivers' and provide value, drivers to below property. 
# Else leave it blank
# eg. driversLocation=drivers -> this will pick up drivers exe from drivers folder under ui-automation.
# driversLocation= -> this will pick up drivers bundled in the ui framework jars. These drivers are tested by team.
driversLocation=

#default timeout in seconds
timeout=10

#pooling interval in seconds
poolingInterval=2

# Selenium grid settings
isGridEnabled=false
seleniumHub=

# #ReportInfo
save=false
#report userInfo
username.report=qa-tester
password.report=qa-tester
auth.report=
locale.report=
#End report userInfo
#Report ServerInfo
name.report=autodb
rpc.report=0
tcp.report=0
dbadmin.report=
dbpassword.report=
jettyPort.report=8008
overlayOption.report=
#End report ServerInfo
runType=4
productId=SHGG54BNBY8MWANBFK01AA2PY556BG
runName=ed
dropName=16/12/15 08:00:00
#End ReportInfo
